<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid Home</title>

</head>
<body>
<script>
             if( document.getElementById("inputTemplate").files.length == 0 ){
                alert("no files selected");
            }
			function showTable(obj){
			var num=parseInt(obj.value);
			document.write("<form method = \"POST\" action=\"{{ url_for('store_answer') }}\">" +
                "<input type='hidden' name=\"number\" value=\""+num+"\" /> ");
			for (var i = 0; i <num; i++) {
                var n=i+1;
				document.write("Q_no. <input id=\"qes\"type=\"text\" value="+n+"><br>");
				document.write("Answer<input type=\"text\" name=\"answer"+n+"\"><br><br>");
			}
			document.write("<br><input type=\"submit\" value=\"Submit\"></form>");
            }

		</script>
    <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%;background-image:url("../static/images/bg.jpg"); background-size: 100%'>
    <div style=" margin-right: 45%; margin-top: 1%; display: inline">
         <div>
                <h1 style="margin-left: 30%">Grid Type MCQ Answer Evaluation</h1>


         </div>
    <form method ='post'action="{{ url_for('upload_answer') }}" enctype='multipart/form-data' >
        <div class="form-group" style="float: left;margin-left: 30%; margin-top: 10%;display: inline">
            <label for="Total_ques">Enter the total no of Questions:</label>
            <input type="number" id="Total_ques" name="Total_qes">
           <input type="button" value="Add Answers" onClick="showTable(document.getElementById('Total_ques'));"/>
{#        <a href="gridAnswer"><button style="background-color: dodgerblue;height: 50px; width: 150px">Add Answers</button></a>#}
        </div>

    </form>

   <form method='post' action="{{ url_for('upload_answer') }}" enctype='multipart/form-data'>

                <div class="form-group" style="float: left;margin-left: 30%; margin-top: 5%;display: inline">
                 <label for="inputTemplate" style=" font-size: 20px">Choose the Answer Sheet's image here:</label>
                   <input type="file" class="form-control" id="inputTemplate" name="inputTemplate">
                </div>

                <div style="float: right; margin-right: 45%; margin-top: 5%; display: inline">
                    <button type="submit" class="btn btn-success"style="background-color: dodgerblue;height: 50px; width: 150px">Evaluate</button>

                </div>



   </form>



    </div>
    </div>

</body>
</html>